*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

body {
  position: relative;
  font-size: 16px;
  padding-bottom: 20px;
  min-height: 100vh;
  font-family: "Fira Sans Condensed", sans-serif;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.d-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 7px 12px;
}

.top_banner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 370px;
  width: 100vw;
  background-color: #0d9ab7;
}

.header_wrapper {
  position: relative;
  z-index: 10;
  padding: 12px 0;
}
.header_wrapper .account_area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}
.header_wrapper .account_area:hover {
  opacity: 0.8;
}
.header_wrapper .account_area:hover path {
  stroke: #dd0de0;
  stroke-width: 2;
}
.header_wrapper .account_area span {
  font-size: 18px;
  color: white;
}
.header_wrapper .account_area path {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.header_wrapper .logo a span {
  font-size: 24px;
  font-weight: 800;
  color: white;
}
.header_wrapper .logo a:hover {
  opacity: 0.8;
}
.header_wrapper .menu_area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}
.header_wrapper .menu_area button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.header_wrapper .menu_area .search_btn:hover {
  background-color: rgba(220, 83, 20, 0.7411764706);
}
.header_wrapper .menu_area .bar_btn:hover {
  background-color: #02bbff;
}

.hero_wrapper {
  margin-top: 50px;
}
.hero_wrapper .hero_grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: start;
  gap: 20px 30px;
}
.hero_wrapper .hero_img_area {
  position: relative;
  text-align: center;
}
.hero_wrapper .hero_img_area h3 {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: -1;
  font-family: "Bruno Ace SC", cursive;
  font-size: 14px;
  font-weight: 500;
  color: white;
}
.hero_wrapper .hero_img_area img {
  width: 70%;
  max-height: 750px;
}
.hero_wrapper .hero_content {
  position: relative;
  top: 200px;
  max-width: 320px;
  text-align: center;
}
.hero_wrapper .hero_content h1,
.hero_wrapper .hero_content h2 {
  font-size: 60px;
  font-weight: 600;
  color: white;
}
.hero_wrapper .hero_content h2 {
  color: #0d9ab7;
}
.hero_wrapper .hero_content h4 {
  font-family: "Lobster", cursive;
  font-size: 18px;
  color: #363636;
  letter-spacing: 3px;
  text-transform: capitalize;
  margin-top: 10px;
}

.footer_wrapper {
  margin-top: 50px;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
}
.footer_wrapper .footer_list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 7px 12px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer_wrapper .footer_list a {
  font-size: 18px;
  font-weight: 500;
  color: #363636;
}
.footer_wrapper .footer_list a:hover {
  opacity: 0.9;
  color: #02bbff;
}

@media (max-width: 767.98px) {
  .top_banner {
    height: 500px;
  }
  .hero_wrapper .hero_grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .hero_wrapper .hero_img_area img {
    max-height: 300px;
    width: auto;
  }
  .hero_wrapper .hero_content {
    top: 0;
    margin: auto;
  }
}
@media (max-width: 991.98px) {
  .hero_wrapper .hero_img_area h3 {
    top: -10px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .hero_wrapper .hero_img_area img {
    height: 450px;
  }
}/*# sourceMappingURL=style.css.map */